{% extends "layout.html" %}

{% block title %}
Tweet home
{% endblock %}

<!-- <title>Tweet home</title> -->

{% block content %}
<a class="btn btn-primary m-2" href="{% url 'create_tweet' %}">Create a tweet</a>

<div class="container row gap-3">
    {% for tweet in tweets %}
        <div class="card m-5" style="width: 18rem;">
            <img src="{{ tweet.photo.url }}" class="card-img-top h-50"  alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ tweet.title }}</h5>
                <p class="card-text">{{ tweet.content }}</p>
                <a href="#" class="btn btn-warning">Post Detials</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}