{% extends "layout.html" %}

{% block title %}
Tweet home
{% endblock %}

<!-- <title>Tweet home</title> -->

{% block content %}
<h2>
    {% if form.instance.pk %}
        Edit Tweet
    {% else %}
        Create Tweet
    {% endif %}
</h2>


<div style="width: 100%;  display: flex; justify-content: center; flex-direction: column; align-items: center;">

    <form method="POST" enctype="multipart/form-data" class="card" style="width: 40rem; height: 100%; padding: 2rem; font-weight: bold;">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
</div>
{% endblock %}